@use '../custom' as *;
@use '../components/mixins' as *;

button{
  padding: 3px 24px !important;

  span{
    font-weight: 700;
    font-size: 14px;
    color: $white;
    text-transform: uppercase;
  }

  &:hover {
    @include gradient;
    color: $white;
  }

  img{
    margin: 0 0 3px 0;
  }
}


